TZ=Europe/London
PUID=1000
PGID=1000
HBOX_LOG_LEVEL=info
HBOX_LOG_FORMAT=text
HBOX_WEB_MAX_UPLOAD_SIZE=10
HBOX_SWAGGER_SCHEMA=http
HBOX_SWAGGER_HOST=${HOST_URL}:3100
HBOX_OPTIONS_ALLOW_INSECURE_LOGIN=true
HBOX_OPTIONS_SECURE_COOKIES=false
HBOX_OPTIONS_BASE_URL=http://${HOST_URL}:3100

# Tailscale/caddy https users comment all the above and uncomment the follwing to  match their 
# MagicDNS address (hostname.your-tailnet-name.ts.net) and set the schema to https.
# and setup caddy with relevant settings to reverse proxy to your homebox instance,
#  you can set the base url to that domain and use https as the schema.
#HBOX_LOG_LEVEL=info
#HBOX_LOG_FORMAT=text
#HBOX_WEB_MAX_UPLOAD_SIZE=10

# API should now expect HTTPS
#HBOX_SWAGGER_SCHEMA=https
#HBOX_SWAGGER_HOST=hostname.your-tailnet-name.ts.net

# Security Hardening
#HBOX_OPTIONS_ALLOW_INSECURE_LOGIN=false
#HBOX_OPTIONS_SECURE_COOKIES=true

# The URL (Your MagicDNS address)
#HBOX_OPTIONS_BASE_URL=https://hostname.your-tailnet-name.ts.net