TZ=Europe/London
PUID=1000
PGID=1000
# Broker is reachable using the service name 'mosquitto' on the internal network
MQTT_BROKER=172.19.0.47 #(usually an ip to your pi host or hostname like pi.local)
MQTT_PORT=1883
MQTT_BASE_TOPIC=presto_x728_ups