TZ=Europe/London
#PUID=1000
#PGID=1000

# This pulls from your GLOBAL .env (root) and gives it to Homepage
#  Here are some examples to use - change  values there to 
#   fill into homepages services  easily or fill directly here as well
# ! if remote_ip not set docker will chose host_ip automatcally


# Use ' HOMEPAGE_ALLOWED_HOSTS=* ' if having auth troubles with ip/hostname etc..
HOMEPAGE_ALLOWED_HOSTS=${SYSTEM_HOSTNAME}:3000,${HOST_URL}:3000,${HOST_IP}:3000


# Use for all apps if they all run on  same addresses/pi's
HOMEPAGE_VAR_APP_REMOTE_HOSTNAME=${REMOTE_HOSTNAME}
HOMEPAGE_VAR_APP_REMOTE_IP=${REMOTE_IP}



# if running diff specific hostnames or ips use your own vars 
#  here and use within homepages configs files as needed 

HOMEPAGE_VAR_SONARR_HOSTNAME=${REMOTE_HOSTNAME:-$REMOTE_IP}
HOMEPAGE_VAR_SONARR_IP=${REMOTE_IP:-$HOST_IP}
HOMEPAGE_VAR_SONARR_KEY=YOUR API KEY

HOMEPAGE_VAR_RADARR_IP=${REMOTE_IP:-$HOST_IP}
HOMEPAGE_VAR_RADARR_KEY=YOUR API KEY

HOMEPAGE_VAR_LIDARR_IP=${REMOTE_IP:-$HOST_IP}
HOMEPAGE_VAR_LIDARR_KEY=YOUR API KEY

#HOMEPAGE_VAR_TAUTULLI_IP=${REMOTE_IP:-$HOST_IP}
#HOMEPAGE_VAR_TAUTULLI_KEY=API KEY HERE

#HOMEPAGE_VAR_PLEX_IP=${REMOTE_IP:-$HOST_IP}
#HOMEPAGE_VAR_PLEX_KEY=API/TOKEN KEY HERE

#HOMEPAGE_VAR_JACKETT_IP=${REMOTE_IP:-$HOST_IP}
#HOMEPAGE_VAR_JACKETT_KEY=PASSWORD  HERE

HOMEPAGE_VAR_QBITTORRENT_IP=${REMOTE_HOSTNAME}
HOMEPAGE_VAR_QBITTORRENT_USERNAME= 
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=

HOMEPAGE_VAR_UPTIMEKUMA_USERNAME=
HOMEPAGE_VAR_UPTIMEKUMA_KEY=