PUID=1000
PGID=1000
VERSION=docker
UMASK_SET=022 #optional
TZ='Europe/London'
#- PLEX_CLAIM= optional to claim a new server add here claim-++++++++++++
ADVERTISE_IP=http://${HOST_URL}:32400/   #eg. ADVERTISE_IP=http://raspberrypi5.local:32400/